.activityId google-map {
  height: 300px;
  display: block;
  margin: 0 -20px; }
.activityId img {
  width: calc(100% - 10px );
  width: -webkit-calc(100% - 10px );
  width: -moz-calc(100% - 10px );
  display: block; }
