@font-face {
  font-family: 'OilCan';
  src: url('../fonts/oil_can-webfont.eot');
  src: url('../fonts/oil_can-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/oil_can-webfont.woff') format('x-type-woff'),
       url('../fonts/oil_can-webfont.ttf') format('truetype'),
       url('../fonts/oil_can-webfont.svg#oil_canregular') format('svg');
  font-weight: normal;
  font-style: normal;
}