header .gradient-bg {
  /* fallback/image non-cover color */
  background-color: #1a82f7;
  /* Safari 4+, Chrome 1-9 */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2f2727), to(#1a82f7));
  /* Safari 5.1+, Mobile Safari, Chrome 10+ */
  background-image: -webkit-linear-gradient(top, #2f2727, #1a82f7);
  /* Firefox 3.6+ */
  background-image: -moz-linear-gradient(top, #2f2727, #1a82f7);
  /* IE 10+ */
  background-image: -ms-linear-gradient(top, #2f2727, #1a82f7);
  /* Opera 11.10+ */
  background-image: -o-linear-gradient(top, #2f2727, #1a82f7); }
