.info {
  ul {
    margin: 0;
  }
  .first-letter {
    margin: 2em 0 0 0;
    &:first-letter{
      font-size: 5em;
      float: left;
      line-height: 30px;
      padding-top: 15px;
      padding-right: 8px;
      padding-left: 3px;
      font-family: Georgia;
    }
  }
}