.profile {

  header {
    margin-bottom: 20px;
  }

  img, .right {
    display: inline-block;
    vertical-align: middle;
  }

  h2 {
    color: #333;
    font-size: 2em;
    margin: 20px 0 0 0;
  }

  h3 {
    color: #666;
    font-size: 1.5em;
    font-weight: 200;
    margin: 0;
    padding: 0;
  }

  ul {
    margin: 20px 0;
  }

}