.profile {
	img, .profile-info {
		display: inline-block;
		vertical-align: top;
	}
	
	.profile-info {
		margin: -10px 0 0 20px;
	}
	
	h2 {
		margin: 0;
		font-size: 1.6em
	}
	
	h3 {
		font-size: 1.2em;
		margin: 0;
		font-style: italic;
		line-height: normal;
	}
	
	.profile-extra {
		margin: 20px -20px 0 -20px;
		padding: 20px;
		background: #f2f2f2;
	}
	
	.button {
		margin-top: 20px;
	}
}