.trashmap google-map {
  display: block;
  height: 400px;
  margin: 0 -20px 0 -20px; }

@font-face {
  font-family: 'OilCan';
  src: url("../fonts/oil_can-webfont.eot");
  src: url("../fonts/oil_can-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/oil_can-webfont.woff") format("x-type-woff"), url("../fonts/oil_can-webfont.ttf") format("truetype"), url("../fonts/oil_can-webfont.svg#oil_canregular") format("svg");
  font-weight: normal;
  font-style: normal; }

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background: #363636;
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: .8em; }
  footer nav {
    text-align: center; }
    footer nav ul {
      margin: 0;
      padding: 5px 0; }
      footer nav ul li {
        display: inline-block;
        list-style: none;
        margin-right: 20px; }
        footer nav ul li:last-child {
          margin-right: 0; }
        footer nav ul li a, footer nav ul li a:hover {
          color: #f2f2f2; }
          footer nav ul li a span, footer nav ul li a:hover span {
            display: block;
            text-align: center; }

.active {
  color: #e8c04f; }
  .active:hover {
    color: #e8c04f; }

.report .button, .report .button-yellow {
  margin: 0;
  width: 19em; }

.info ul {
  margin: 0; }
.info .first-letter {
  margin: 2em 0 0 0; }
  .info .first-letter:first-letter {
    font-size: 5em;
    float: left;
    line-height: 30px;
    padding-top: 15px;
    padding-right: 8px;
    padding-left: 3px;
    font-family: Georgia; }

.profile header {
  margin-bottom: 20px; }
.profile img, .profile .right {
  display: inline-block;
  vertical-align: middle; }
.profile h2 {
  color: #333;
  font-size: 2em;
  margin: 20px 0 0 0; }
.profile h3 {
  color: #666;
  font-size: 1.5em;
  font-weight: 200;
  margin: 0;
  padding: 0; }
.profile ul {
  margin: 20px 0; }

.activity ul {
  margin: 0; }
  .activity ul li {
    padding: 20px;
    list-style: none;
    border-bottom: 1px solid #d3d3d3;
    color: darkgrey; }
    .activity ul li:last-child {
      border-bottom: none; }
    .activity ul li span {
      color: #363636; }
    .activity ul li i {
      float: right; }
.activity input {
  width: 100%;
  margin-top: 20px; }

.activityId google-map {
  height: 300px;
  display: block;
  margin: 0 -20px; }
.activityId img {
  width: calc(100% - 10px );
  width: -webkit-calc(100% - 10px );
  width: -moz-calc(100% - 10px );
  display: block; }

header {
  /* fallback/image non-cover color */
  background-color: #f2f2f2;
  /* Safari 4+, Chrome 1-9 */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f2f2f2), to(#eeeeee));
  /* Safari 5.1+, Mobile Safari, Chrome 10+ */
  background-image: -webkit-linear-gradient(top, #f2f2f2, #eeeeee);
  /* Firefox 3.6+ */
  background-image: -moz-linear-gradient(top, #f2f2f2, #eeeeee);
  /* IE 10+ */
  background-image: -ms-linear-gradient(top, #f2f2f2, #eeeeee);
  /* Opera 11.10+ */
  background-image: -o-linear-gradient(top, #f2f2f2, #eeeeee);
  margin: -0px -20px 0 -20px;
  border-bottom: 2px solid #ccc; }

.register .button, .register .button-yellow {
  margin: 0; }

.nearme google-map {
  display: block;
  height: 400px;
  margin: 0 -20px; }

html {
  background: #f9f9f9; }

body {
  font-family: 'Open Sans'; }

.container-fluid {
  margin-bottom: 55px;
  background: #f9f9f9; }

.icon-info-sign {
  color: rgba(0, 0, 0, 0.1);
  position: absolute;
  right: 20px;
  top: 10px; }

a, a:active, a:hover {
  text-decoration: none; }

h1 {
  font-family: 'Open Sans';
  font-weight: 300;
  color: #d2514b;
  margin: 0;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 2em; }

h2 {
  font-family: 'Open Sans';
  font-weight: 200;
  font-size: 1.5em;
  color: #666; }

.button, .button-yellow {
  display: block;
  margin: 0 auto;
  padding: 10px;
  width: 80%;
  border-radius: 3px;
  background: #d2514b;
  box-shadow: 0 3px 0 #a72f2a;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all .1s linear;
  -moz-transition: all .1s linear;
  -o-transition: all .1s linear;
  -ms-transition: all .1s linear;
  transition: all .1s linear;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0); }
  .button:active, .button-yellow:active {
    box-shadow: none;
    -webkit-transform: translate3d(0, 3px, 0);
    -moz-transform: translate3d(0, 3px, 0);
    -o-transform: translate3d(0, 3px, 0);
    -ms-transform: translate3d(0, 3px, 0);
    transform: translate3d(0, 3px, 0); }
  .button:hover, .button-yellow:hover {
    color: #f2f2f2; }

.button-yellow {
  background: #e8c04f;
  box-shadow: 0 3px 0 #cfa01b; }

.main {
  text-align: center; }
  .main img {
    display: block;
    margin: 90px auto 90px auto; }

.list {
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff; }
  .list i {
    color: #d2514b; }
  .list ul {
    margin: 0; }
  .list li {
    list-style: none;
    border-bottom: 1px solid #ccc;
    padding: 7px 5px; }
    .list li:last-child {
      border: none; }
  .list span {
    float: right;
    vertical-align: top;
    margin-top: -2px;
    padding: 2px 7px;
    color: white;
    border-radius: 15px;
    background: #E8C04F; }
