@import "trashmap";
@import "fonts";
@import "footer";
@import "report";
@import "info";
@import "profile";
@import "activity";
@import "activityId";
@import "header";
@import "colors";
@import "register";
@import "near";

html {
  background: $background;
}
// Set Font
body {
  font-family: 'Open Sans';
}
// Basic styling
.container-fluid {
  margin-bottom: 55px;
  background: $background;
}

// Info icon
.icon-info-sign {
  color: rgba(0,0,0,.1);
  position: absolute;
  right: 20px;
  top: 10px;
}

// Text decoration
a, a:active, a:hover {
  text-decoration: none;
}

// Header Styling
h1 {
  font-family: 'Open Sans';
  font-weight: 300;
  color: #d2514b;
  margin: 0;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 2em;
}
h2 {
  font-family: 'Open Sans';
  font-weight: 200;
  font-size: 1.5em;
  color: #666;
}

// Button Style
.button {
  display: block;
  margin: 0 auto;
  padding: 10px;
  width: 80%;
  border-radius: 3px;
  background: $red;
  box-shadow: 0 3px 0 $dark-red;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all .1s linear;
  -moz-transition: all .1s linear;
  -o-transition: all .1s linear;
  -ms-transition: all .1s linear;
  transition: all .1s linear;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);

  &:active {
    box-shadow: none;
    -webkit-transform: translate3d(0, 3px, 0);
    -moz-transform: translate3d(0, 3px, 0);
    -o-transform: translate3d(0, 3px, 0);
    -ms-transform: translate3d(0, 3px, 0);
    transform: translate3d(0, 3px, 0);
  }

  &:hover {
    color: #f2f2f2;
  }
}
.button-yellow {
  @extend .button;
  background: $yellow;
  box-shadow: 0 3px 0 $dark-yellow;
}

// Style for '/' route
.main {
  text-align: center;

  img {
    display: block;
    margin: 90px auto 90px auto;
  }
}

// List style
.list {
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;

  i {
    color: $red;
  }

  ul {
    margin: 0;
  }

  li {
    list-style: none;
    border-bottom: 1px solid #ccc;
    padding: 7px 5px;

    &:last-child {
      border: none;
    }
  }

  span {
    float: right;
    vertical-align: top;
    margin-top: -2px;
    padding: 2px 7px;
    color: white;
    border-radius: 15px;
    background: #E8C04F;
  }
}