<div class="activityId">
  <header>
    <h1>Detail</h1>
  </header>


  <h2>Description:</h2>
  <div class="list">
    <ul>
      <li><i class="icon-location-arrow"></i> Coords <span>{{ trash.lat | number:3 }}, {{ trash.long | number:3 }}</span></li>
      <li><i class="icon-tag"></i> Type <span>{{ trash.type }}</span></li>
      <li><i class="icon-resize-horizontal"></i> Size <span>{{ trash.howmuch }}</span></li>
    </ul>
  </div>

  <!--truth = show-->
  <div ng-show="trash.picture.length">
    <h2>Photo:</h2>
    <img ng-src="{{ trash.picture }}" class="img-polaroid" alt=""/>
  </div>

  <h2>Map:</h2>
  <google-map
    center="center"
    draggable="true"
    zoom="zoom"
    markers="markers"
    mark-click="true">
  </google-map>
</div>
