<div class="info">
  <header>
    <h1>Info</h1>
  </header>

  <p class="first-letter">Trashcan is a <a href="http://en.wikipedia.org/wiki/Single-page_application">SPA</a>
    for mapping trash on a map. This app is in theme of the 'Gentse Feesten'.
  </p>
  <p>Users can report trash they encounter. Take a picture, define the size and add a type.</p>

  <h2>Ranking:</h2>
  <ul class="list">
    <li>0-3<span>Greenhorn</span></li>
    <li>4-7<span>Scraphead</span></li>
    <li>8-11<span>Dumpmaster</span></li>
    <li>12-15<span>Junkbaron</span></li>
    <li>16-&infin;<span>Trashking</span></li>
  </ul>

  <h2>Technology:</h2>
  <p>Trashcan uses <a href="http://angularjs.org">AngularJS</a> for the frontend.
  In the back <a href="http://slimframework.com">Slimframework</a> is running in harmony with <a href="http://redbeanphp.com">Redbean</a>.</p>
  <p>Follow the project on <a href="https://github.com/vdclouis/trashcan">GitHub</a>.</p>
</div>
