<div class="info">
	<h1>Info</h1>
	
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, voluptas culpa id earum doloremque veritatis nulla temporibus eligendi odit placeat?</p>
	
	<h2>Ranking</h2>
	<table>
		<tr>
			<td>0-3</td>
			<td>greenHorn</td>
		</tr>
		<tr>
			<td>4-7</td>
			<td>scrapHead</td>
		</tr>
		<tr>
			<td>8-11</td>
			<td>dumpMaster</td>
		</tr>
		<tr>
			<td>12-15</td>
			<td>junkBaron</td>
		</tr>
		<tr>
			<td>16-&infin;</td>
			<td>trashKing</td>
		</tr>
	</table>
	
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, ex.</p>
	<p>Louis Van de Calseyde</p>
</div>
