<div class="register">
  <header>
    <h1>Register</h1>
  </header>

  <form>
    <h2>Name:</h2>
    <input type="text" placeholder="Crocodile Dundee" ng-model="user.name"/>

    <h2>Password:</h2>
    <input ng-model='user.password' type="password" name='password' placeholder='password' required>
    <div ng-show="form.password.$error.required">
      Field required</div>
    <input ng-model='user.password_verify' type="password" name='confirm_password' placeholder='confirm password' required data-password-verify="user.password">
    <div ng-show="form.confirm_password.$error.required">
      Field required!</div>
    <div ng-show="form.confirm_password.$error.passwordVerify">
      Fields are not equal!</div>

    <a href="" class="button" ng-click="register()">Register</a>
  </form>
</div>