<div class="report">
  <h1>report</h1>

  <form>
    <label>Size:</label>
    <label class="radio">
      <input type="radio" ng-model="trash.howmuch" value="Small"><i class="icon-trash"></i> Small
    </label>
    <label class="radio">
      <input type="radio" ng-model="trash.howmuch" value="Medium"><i class="icon-shopping-cart"></i> Medium
    </label>
    <label class="radio">
      <input type="radio" ng-model="trash.howmuch" value="Big"><i class="icon-truck"></i> Big
    </label>

    <label for="type">Type of trash:</label>
    <select multiple="multiple" id="type" ng-model="trash.type">
      <option>Rest</option>
      <option>PMD</option>
      <option>GFT</option>
      <option>KGA</option>
      <option>Glas</option>
      <option>Karton</option>
    </select>

    <label for="lat">Latitude:</label>
    <input type="number" step="any" id="lat" value="{{ lat }}" ng-model="trash.lat">

    <label for="long">Longitude:</label>
    <input type="number" step="any" id="long" value="{{ long }}" ng-model="trash.long">

    <label for="details">Details:</label>
    <textarea id="details" ng-model="trash.details"></textarea>

    <a href="" ng-click="report()" class="button">Report</a>
  </form>
</div>