<div class="report">
  <header>
    <h1>Report</h1>
  </header>

  <form>
    <h2>Picture:</h2>
    <a href="" ng-click="ink()" class="button-yellow" ng-model="trash.picture">Upload</a>

    <h2>Size:</h2>
    <label class="radio">
      <input type="radio" ng-model="trash.howmuch" value="Small"><i class="icon-trash"></i> Small
    </label>
    <label class="radio">
      <input type="radio" ng-model="trash.howmuch" value="Medium"><i class="icon-shopping-cart"></i> Medium
    </label>
    <label class="radio">
      <input type="radio" ng-model="trash.howmuch" value="Big"><i class="icon-truck"></i> Big
    </label>

    <h2>Type of trash:</h2>
    <select class="input-xlarge" multiple="multiple" id="type" ng-model="trash.type">
      <option>Rest</option>
      <option>PMD</option>
      <option>GFT</option>
      <option>KGA</option>
      <option>Glas</option>
      <option>Karton</option>
    </select>

    <h2>Latitude:</h2>
    <input class="input-xlarge" type="number" step="any" id="lat" value="{{ lat }}" ng-model="trash.lat">

    <h2>Longitude:</h2>
    <input class="input-xlarge" type="number" step="any" id="long" value="{{ long }}" ng-model="trash.long">

    <h2>Details:</h2>
    <textarea rows="4" class="input-xlarge" id="details" ng-model="trash.details"></textarea>

    <a href="#" ng-click="report()" class="button">Report</a>
  </form>
</div>